{% extends "base.njk" %}
{% block content %}
	<h3>Manage Your VODs</h3>
	<form action="/api/user/vods/delete" method="POST" target="responseFrame">
	{% asyncEach vid in list%}
			<input type="checkbox" id="{{vid.name}}" name="vlist[]" value="{{vid.name}}">
			&nbsp<label for="{{vid.name}}">{{vid.name}}</label><p></p>
	{% else %}
		No recordings found!
	{% endeach %}
	<input type="submit" value="Delete">
	</form>
	<iframe name="responseFrame" border="0" frameborder="0" style="display: inline;"></iframe>
{% endblock %}